* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wow {
    animation-duration: 1s !important;
    /* animation-timing-function: linear; */
}


.delay {
    animation-delay: 0.5s !important;
}

.delay1 {
    animation-delay: 1s !important;
}

.delay2 {
    animation-delay: 1.5s !important;
}

.delay3 {
    animation-delay: 2s !important;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'BrandingSF';
    src: url('../fonts/BrandingSF-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'BrandingSF';
    src: url('../fonts/BrandingSF-Bold.otf');
    font-weight: 700;
}


@font-face {
    font-family: 'Genty';
    src: url('../fonts/GentyDemo-Regular.ttf');
}

@font-face {
    font-family: 'BobbyJones';
    src: url('../fonts/Bobby\ Jones\ Soft.otf');
}

.genty {
    font-family: 'Genty';
}

.bobby {
    font-family: 'BobbyJones';
}

.yellow {
    color: rgba(223, 183, 110, 1);
}

.melon {
    color: rgba(248, 162, 147, 1);
}

.mint {
    color: rgba(123, 199, 197, 1);
}

body {
    /* overflow-x: hidden; */
}

section {
    max-width: 100vw;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --width: calc(100% - 16rem);
    --padding: 0rem 8rem;
    --center: 0 auto;
    --yellow: rgba(255, 211, 114, 1);
    --pink: rgba(249, 160, 189, 1);
    --blue: rgba(35, 48, 166, 1);
    --dark-blue: rgba(43, 61, 115, 1);
    --cream: rgba(254, 247, 230, 1);
    --cream2: rgba(255, 235, 194, 1);
    --purple: rgba(152, 75, 157, 1);
}

h1, h2, h3, h4, h5 {
    font-family: 'BrandingSF', sans-serif;
}

p, a, span, li {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.whatsapp {
    background-color: #25D366;
    width: 6rem;
    height: 6rem;
    border-radius: 100rem;
    border: 1px solid black;
    position: fixed;
    right: 2rem;
    z-index: 10001;
    bottom: 3rem;
}

.whatsapp a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp i {
    font-size: 3rem;
    color: white;
}

.button {
    min-width: 15rem;
    width: fit-content;
    min-height: 5rem;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 100rem;
    color: black;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    border: 1px solid black;
    cursor: pointer;
}

.socials li {
    position: relative;
}

.round__button {
    width: 4rem;
    min-height: 4rem;
    background-color: var(--pink);
    /* border-bottom: 0.6rem solid var(--dark-blue); */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    font-size: 3rem;
    transition: all 0.1s ease-in-out;
    /* border-bottom: 1rem solid var(--dark-blue); */
}

.socials li:hover .round__button {
    transform: translateY(0.55rem);
}

.round__button i {
    filter: drop-shadow(0 0 1px black);
}

.button-3d {
    min-width: 15rem;
    width: fit-content;
    min-height: 5rem;
    padding: 1rem 2rem;
    /* background-color: var(--yellow); */
    border-radius: 100rem;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 1;
}

.button-3d::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100rem;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -0.6rem;
    z-index: 0;
}

.button-3d::before {
    content: "Contactar";
    width: 100%;
    height: 100%;
    border-radius: 100rem;
    background-color: var(--yellow);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}

.button-3d:hover::before {
    bottom: -0.6rem;
}


.button-3d-square {
    min-width: 15rem;
    width: fit-content;
    min-height: 5rem;
    padding: 1rem 2rem;
    /* background-color: var(--yellow); */
    border-radius: 1rem;
    color: var(--dark-blue);
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 1;
    content: "";
}

.button-3d-square::after {
    content: "";
    width: calc(100% + 3px);
    height: 100%;
    border-radius: 1rem;
    background-color: var(--dark-blue);
    position: absolute;
    left: 0;
    bottom: -0.6rem;
    z-index: 0;
}

.button-3d-square::before {
    content: "Ver personajes";
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: var(--pink);
    border: 2px solid var(--dark-blue);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}

.button-3d-square:hover::before {
    bottom: -0.6rem;
}

.socials li::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    background-color: var(--dark-blue);
    position: absolute;
    left: 0;
    bottom: -0.6rem;
    z-index: -1;
}

header {
    height: 25vh;
    width: 100%;
    margin: var(--center);
    position: fixed;
    z-index: 900;
    background-color: var(--cream2);
    display: flex;
    align-items: center;
}

nav {
    width: var(--width);
    margin: var(--center);
    height: 100%;
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav>a:last-child {
    display: none;
}

header nav .menu__button, .bars {
    display: none;
}

header figure, header picture {
    display: block;
    height: 16rem;
}

header figure img, header picture img {
    object-fit: contain;
}

header .menu {
    display: flex;
    align-items: center;
    column-gap: 5rem;
    height: 100%;
    position: relative;
}

.socials {
    display: flex;
    column-gap: 1rem;
}

.menu li>a, .menu li>p {
    font-size: 1.6rem;
    color: black;
    font-weight: 400;
    transition: all 0.3s linear;
    position: relative;
    cursor: pointer;
    font-family: 'hatton', sans-serif;
}

.menu li a:hover::after {
    width: 50%;
}

.menu>li.button>a::after {
    display: none;
    width: 0;
    height: 0;
}

.menu>li.button>a:hover, .menu>li.button:hover>a {
    color: var(--text);
}

.menu>li {
    position: relative;
    height: fit-content;
    display: flex;
    align-items: center;
    width: fit-content;
}


.menu li.boton-renta {
    position: relative;
}

header .sidemenu {
    position: absolute !important;
    top: 110% !important;
    width: 30rem;
    max-width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: white;
    z-index: 2;
}

footer .sidemenu {
    position: absolute !important;
    top: initial !important;
    width: 30rem;
    max-width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: white;
    z-index: 2;
    bottom: 110% ;
}

.menu li.boton-renta.active .sidemenu {
    display: initial;
}


p {
    font-size: 2rem;
    font-weight: 400;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    /* width: 100rem; */
    max-width: 100%;
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
}

main {
    position: relative;
}

/* HERO  */

#hero {
    height: 100vh;
    /* padding-top: 25vh; */
    color: white;
    /* width: 100vw; */
    position: relative;
    overflow-x: hidden !important;
}

#hero .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#hero .container .left {
    flex-basis: 50rem;
    flex-grow: 1;
    background-color: var(--blue);
    padding: var(--padding);
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    row-gap: 2rem;
    position: relative;
}

#hero .star1, #hero .star2, #hero .star3 {
    height: 6rem;
    width: 5.7rem;
    position: absolute;
    z-index: 0;
}

#hero .left .star1 {
    right: 8rem;
    top: 35%;
}

#hero .left .star2 {
    right: 6rem;
    bottom: 15%;
    transform: rotate(-40deg);
}

#hero .left .star3 {
    bottom: 20%;
    right: 50%;
    transform: rotate(-40deg);
}

#hero .container .left h2 {
    font-size: 6.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

#hero .container .left p {
    font-size: 2rem;
    font-weight: 400;
}

#hero-slider {
    width: 100vw;
    overflow-x: hidden;
    flex-basis: 50rem;
    flex-grow: 1;
}

#hero-slider, #hero-slider .glide__track, #hero-slider .glide__slides {
    height: 100% !important;
}

#hero .glide__slide {
    height: 100% !important;
}

#hero .glide__slide figure.portada {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#hero .glide__bullet {
    background-color: white;
}

#hero .glide__bullet--active {
    background-color: var(--pink) !important;
}

/* HERO  */

/* NOSOTROS  */

#nosotros {
    background: url('../img/confeti.png'), linear-gradient(var(--cream), var(--cream));
    background-repeat: repeat-y;
    border-bottom-left-radius: 100rem 10rem;
    border-bottom-right-radius: 100rem 10rem;
    padding-top: 20rem;
    padding-bottom: 20rem;
    position: relative;
    z-index: 1;
}

#nosotros .container {
    width: var(--width);
    margin: var(--center);
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

#nosotros .container>div {
    border-radius: 1rem;
    background-color: white;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    align-items: center;
}

#nosotros .container>div h3 {
    color: var(--purple);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

#nosotros .container>div p {
    font-size: 2rem;
    font-weight: 500;
    color: black;
    text-align: justify;
}

#nosotros .container>div figure {
    min-width: 18rem;
    max-width: 18rem;
    flex-basis: 18rem;
    height: 18rem;
    border-radius: 10rem;
    background-color: var(--pink);
}

#nosotros .container>div figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#nosotros .container>div .text {
    flex-basis: 50rem;
    flex-grow: 1;
}

/* NOSOTROS  */


/* EVENTOS  */

#eventos {
    padding: var(--padding);
    padding-top: 30rem;
    padding-bottom: 30rem;
    background: url('../img/confeti.png'), linear-gradient(var(--yellow), var(--yellow));
    background-repeat: repeat-y;
    margin-top: -10rem;
    position: relative;
}

#eventos h2 {
    font-size: 7rem;
    color: var(--blue);
    margin-bottom: 5rem;
}

#eventos .container {
    width: 100rem;
    max-width: 100%;
    height: 60rem;
    margin: var(--center);
    margin-bottom: 25rem;
}

#eventos .container #events-slider {
    width: 100%;
    height: 100% !important;
    border: 3px solid black;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
    border-radius: 3rem;
}

#eventos .container #events-slider .glide__track {
    height: 100%;
    border-radius: 3rem;
}

#eventos .container #events-slider .glide__track .glide__slides {
    height: 100%;
}

#eventos .container #events-slider .glide__track .glide__slides .glide__slide {
    /* margin-left: 6px !important; */
    /* margin-right: 0 !important; */
    height: 100% !important;
}

#eventos .container #events-slider .glide__track .glide__slides .glide__slide figure {
    height: 100%;
    width: 100%;
}

#eventos .container #events-slider .glide__bullets {
    bottom: 0;
    width: 100% !important;
    justify-content: space-between
}

#eventos .container #events-slider .glide__bullets .glide__bullet {
    width: 18%;
    aspect-ratio: 1;
    border-radius: 2rem;
    border: 2px solid black;
    overflow: hidden;
}

#eventos .container #events-slider .glide__bullets .glide__bullet figure {
    height: 100%;
    width: 100%;
}

#eventos .container #events-slider .glide__bullets .glide__bullet img {
    transition: all 0.2s ease-in-out;
}

#eventos .container #events-slider .glide__bullets .glide__bullet:hover img {
    transform: scale(1.1);
}

#eventos .button-3d-square {
    margin: var(--center);
    margin-top: 10rem;
}

/* EVENTOS  */


/* CONTACTO  */

#contacto {
    background: var(--pink);
    border-top-left-radius: 100rem 10rem;
    border-top-right-radius: 100rem 10rem;
    position: relative;
    z-index: 1;
    padding-top: 15rem;
    margin-top: -10rem;
    padding-bottom: 10rem;
}

#contacto .container {
    width: var(--width);
    margin: var(--center);
    display: flex;
    flex-wrap: wrap;
}

#contacto .container h2 {
    font-size: 6rem;
    font-weight: 700;
    color: var(--blue);
}

#contacto .container .left, #contacto .container .right {
    flex-basis: 50rem;
    flex-grow: 1;
}

#contacto .left a {
    display: flex;
    font-size: 2rem;
    color: var(--purple);
    font-weight: 700;
    align-items: center;
    margin: 1rem 0;
    width: fit-content;
}

#contacto .left a span {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    border: 1px solid black;
    background-color: var(--yellow);
}

#contacto .left a span i {
    color: white;
}

#contacto form {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    max-width: 100%;
}

#contacto input, #contacto select {
    height: 5rem;
    border-radius: 10rem;
    border: 2px solid black;
    flex-basis: 30rem;
    flex-grow: 1;
    text-indent: 1rem;
    outline: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    font-family: 'Poppins';
    max-width: 90vw;
}

#contacto textarea {
    flex-basis: 100%;
    padding: 1.5rem;
    border-radius: 3rem;
    border: 2px solid black;
    resize: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    font-family: 'Poppins';
    max-width: 90vw;
}

#contacto ::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    font-family: 'Poppins';
}

#contacto form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#contacto form button::after {
    border-radius: 1rem;
}

#contacto form button::before {
    content: "Enviar";
    border-radius: 1rem;
}

/* CONTACTO  */


/* FOOTER  */

footer {
    padding: var(--padding);
    padding-top: 10rem;
    padding-bottom: 1rem;
    background-color: var(--purple);
    border-top-left-radius: 100rem 5rem;
    border-top-right-radius: 100rem 5rem;
    margin-top: -5rem;
    position: relative;
    z-index: 1;
}

footer .top {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: center;
}

footer .menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

footer .socials li {
    z-index: 1;
    height: 4rem;
}

/* footer .socials li::after {
    background-color: var(--purple);
} */

footer .bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
}

footer .bottom p, footer .bottom a, footer .bottom .tyc a {
    font-size: 1.4rem;
    color: white;
}

footer .bottom .tyc {
    display: flex;
    column-gap: 4rem;
}

/* FOOTER  */



.front {
    padding: var(--padding);
    padding-top: 25vh;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
}

.front figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.front figure img {
    object-position: top;
}

.front::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(35, 48, 166, 0.6);
    z-index: -1;
}

.front h1 {
    color: var(--yellow);
    font-size: 8rem;
    font-weight: 700;
}

#contenido {
    padding: var(--padding);
    padding-top: 25vh;
    padding-bottom: 15rem;
    background: url('../img/confeti.png'), linear-gradient(var(--cream), var(--cream));
    background-repeat: repeat-y;
}

#contenido h2 {
    font-size: 6rem;
    color: var(--purple);
    text-transform: uppercase;
    margin-bottom: 5rem;
}

#contenido select {
    height: 5rem;
    border-radius: 10rem;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 5rem;
    font-size: 1.8rem;
}

#contenido .container {
    width: var(--width);
    margin: var(--center);
}

#contenido .container.renta {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8rem;
    row-gap: 4rem;
}

.renta-container, .venta-container {
    padding-top: 25vh;
    position: relative;
}

.espacio {
    height: 15vh;
}

.renta-container {
    background: url('../img/renta.png') no-repeat;
    background-size: 100%;
    background-position: top;
    padding: var(--padding);
    padding-top: 30vh;
    padding-bottom: 65rem;
    height: 260rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.renta-container .title-text {
    width: 100rem;
    max-width: 100%;
    margin: var(--center);
    transform: rotate(-10deg);
    margin-top: 20rem;
    margin-bottom: 20rem;
}

.renta-container p {
    font-size: 8rem;
}

.renta-container ul p {
    color: rgba(104, 105, 107, 1);
    font-size: 5rem;
}

.renta-container .title-text p:first-child {
    font-weight: 300;
    color: rgba(104, 105, 107, 1);
    margin: var(--center);
}

.renta-container .title-text p:last-child {
    margin-left: auto;
    width: fit-content;
}

.renta-container .title-text h3 {
    font-size: 18rem;
    line-height: 12rem;
    margin: 2rem 0;
    margin-left: 5rem;
}

.renta-container .title-text h3.small {
    font-size: 12rem;
}

.renta-container .title-text h2 {
    font-size: 22rem;
    line-height: 16rem;
    margin: 2rem 0;
}


.renta-container ul {
    list-style: inside;
    padding: var(--padding);
    width: var(--width);
    margin: var(--center);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.renta-container li {
    text-align: center;
    font-size: 5rem;
    color: rgba(93, 95, 94, 1);
}

.renta-container .button-3d-square {
    margin: var(--center);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.venta-container .button-3d-square {
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
}

#contenido .container.renta .right {
    flex-basis: 50rem;
    flex-grow: 1;
}

#contenido .container.renta .left {
    flex-basis: 25rem;
}

#contenido .container.renta .left ul {
    list-style: none;
}

#contenido .container.renta .left ul li, header .sidemenu li, footer .sidemenu li {
    font-size: 1.6rem;
    margin: 2rem 0;
    cursor: pointer;
}

#contenido .container.renta .left ul li ul, header .sidemenu li ul, footer .sidemenu li ul {
    list-style: disc;
    padding-left: 2rem;
}

#contenido .container.renta .left li a.active, header .sidemenu li a.active, footer .sidemenu li a.active {
    font-weight: 700;
    color: rgba(3, 152, 158, 1);
}

#contenido .container.renta .left li, header .sidemenu li, footer .sidemenu li {
    font-weight: 400;
    color: black;
}

#contenido .container.renta .left .sidemenu, header .sidemenu, footer .sidemenu {
    background-color: white;
    padding: 2rem;
    border-radius: 4rem;
    border: 1px solid black;
    border-bottom: 6px solid black;
    border-right: 6px solid black;
    position: sticky;
    top: 16vh;
}

#contenido .container .right h3 {
    font-weight: 700;
    font-size: 4rem;
}

#contenido .container .right h4 {
    font-size: 3rem;
    font-weight: 700;
}

#contenido .container ul {
    list-style: inside;
}

#contenido .container li, #contenido .container p {
    font-size: 2.5rem;
}

#contenido .button-3d-square {
    margin-top: 5rem;
}

#contenido .button-3d-square.contacto::before {
    content: "Contáctanos";
}


#contenido .top {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
}

#contenido .bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
}


#contenido .big {
    flex-basis: 50rem;
    flex-grow: 2;
    height: 60rem;
}

#contenido .big figure {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid black;
}

#contenido .big figure img {
    object-position: top;
}

#contenido .small {
    flex-basis: 30rem;
    flex-grow: 1;
    height: 60rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#contenido .small figure {
    width: 100%;
    height: calc(50% - 1.5rem);
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid black;
}

#contenido .small figure img {
    object-position: top;
}

#contenido .container .mapas, .venta-container .mapas {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: var(--padding);
    width: calc(var(--width) - 8rem);
    margin: var(--center);
}

.venta-container .mapas {
    position: absolute;
    bottom: 80rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 4rem;
    background-color: white;
    border-radius: 6rem;
    border: 1px solid black;
    border-bottom: 1rem solid rgba(140, 140, 140, 1);
    border-left: 1rem solid rgba(140, 140, 140, 1);
}

#contenido .container .mapas .mapa, .venta-container .mapas .mapa {
    flex-basis: 30rem;
    flex-grow: 1;
}

#contenido .container .mapas .mapa iframe, .venta-container .mapas .mapa iframe {
    width: 100%;
    border-radius: 3rem;
    border: 1px solid black;
}

@media screen and (max-width: 1380px) {
    #products .products-container, #perritos .perritos-container {
        flex-basis: 75rem;
        margin-left: auto;
    }
}

@media screen and (max-width: 850px) {

    :root {
        --width: calc(100% - 4rem);
        --padding: 0rem 2rem;
    }

    header figure, header picture {
        height: 12rem;
    }

    #product .side-gallery {
        align-self: self-start;
    }

    #product .side-gallery figure {
        width: 6rem;
        height: 6rem;
    }

    #servicios .container .right figure {
        margin-left: 0;
    }


    .round__button {
        width: 4rem;
        height: 4rem !important;
        min-height: 4rem;
        font-size: 2rem;
    }

}

@media screen and (max-width: 769px) {

    header .menu2 {
        display: flex;
        display: flex;
        align-items: center;
        column-gap: 1rem;
        height: 100%;
    }

    .menu2 li>a, .menu2 li>p {
        font-size: 3rem;
        color: var(--main);
        font-weight: 600;
        transition: all 0.3s linear;
        position: relative;
        cursor: pointer;
        font-family: 'hatton', sans-serif;
    }

    .menu2>li {
        position: relative;
        height: fit-content;
        display: flex;
        align-items: center;
        width: fit-content;
    }

    .menu2>li.profile, .menu2>li.shop-cart2 {
        position: relative;
    }

    .menu2 .number__of--articles {
        background-color: red;
        color: white !important;
        border-radius: 10rem;
        min-width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem !important;
        position: absolute;
        top: calc(50% - 2rem);
        right: -0.5rem;
    }

    header nav .menu2>li.profile2 .profile-menu2 {
        padding: 1rem;
        border-radius: 1rem;
        background-color: var(--main);
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        justify-content: center;
        position: absolute;
        min-width: 20rem;
        top: 110%;
        right: 0;
        transition: all 0.3s ease-in-out;
        display: none;
    }

    header nav .menu2>li.profile2 .profile-menu2.active {
        display: flex;
    }

    header nav .menu2>li.profile2 .profile-menu2 li {
        width: 100%;
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
    }

    header nav .menu2>li.profile2 .profile-menu2 a {
        font-size: 1.8rem;
        color: var(--secondary);
        font-weight: 600;
        text-align: center;
        width: 100%;
        display: block;
    }

    header nav .menu2>li.profile2 .profile-menu2 li:hover {
        background-color: var(--secondary);
    }

    header nav .menu2>li.profile2 .profile-menu2 li:hover a {
        color: var(--main);
    }

    header .menu {
        position: absolute;
        top: 100%;
        background-color: var(--cream2);
        width: 100vw;
        left: -2rem;
        display: flex;
        flex-direction: column;
        display: none;
        height: fit-content;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .globe, .search, .profile, .shop-cart {
        display: none !important;
    }

    header .menu li {
        text-align: center;
        margin: 1rem 0;
    }

    header nav>a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav>a:last-child {
        display: block;
    }

    header nav .menu__button {
        display: block;
        font-size: 3rem;
        color: var(--main);
        transition: all 0.5s ease-in-out;
    }

    #nosotros .container>div figure {
        min-width: 12rem;
        max-width: 12rem;
        flex-basis: 12rem;
        height: 12rem;
    }


}

@media screen and (max-width: 550px) {

    #hero-slider {
        height: 50vh !important;
    }

    #hero .container .left h2, .front h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    #us .bottom h2 {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    #hero p {
        font-size: 1.8rem;
    }

    #hero .container .left {
        padding-bottom: 5rem;
    }

    footer .bottom {
        margin-top: 2rem;
    }

    .products-search .button {
        min-width: 10rem;
    }

    #productos .container {
        position: relative;
    }

    #productos .filters-menu {
        display: none;
        position: absolute;
        z-index: 10;
        top: 0;
        box-shadow: 0px 1px 10px 0px black;
    }

    .toggle__filters {
        display: flex;
        cursor: pointer;
    }

    #eventos .container {
        height: 40rem;
        margin-bottom: 15rem;
    }

    footer .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .venta-container .button-3d-square, .renta-container .button-3d-square {
        display: none;
    }

    footer {
        margin-top: -2rem;
    }

}



@keyframes showMenu {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes hideMenu {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}


@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translateY(-0.5rem);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(-0.5rem);
    }

}

@keyframes modalOut {
    20% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
    }
}